{% extends 'arsip/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>About</h2>
        <div class="card">
            <div class="card-body">
                <h3>Aplikasi Arsip Surat</h3>
                <p>Aplikasi ini dibuat untuk mengelola arsip surat di suatu organisasi. Dengan aplikasi ini, pengguna dapat:</p>
                <ul>
                    <li>Mencari surat berdasarkan judul</li>
                    <li>Mengunggah surat baru</li>
                    <li>Mengunduh file surat (PDF)</li>
                    <li>Menghapus arsip surat</li>
                </ul>
                
                <div class="mt-4">
                    <h4>Developer Information</h4>
                    <p><strong>Nama:</strong> Risandi</p>
                    <p><strong>Prodi:</strong> D3-MI PENS</p>
                    <p><strong>NIM:</strong> 3122500033</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}